In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv("country_vaccination_stats.csv")

In [22]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [23]:
df.count()

country               1502
date                  1502
daily_vaccinations    1442
vaccines              1502
dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             1502 non-null   object
 1   date                1502 non-null   object
 2   daily_vaccinations  1442 non-null   float64
 3   vaccines            1502 non-null   object
dtypes: float64(1), object(3)
memory usage: 47.1+ KB

In [25]:
df.shape

(1502, 4)

# Calculating proportions of missing data

In [26]:
def Missing_Values(data):
    variable_name=[]
    missing_value_rate=[]
    total_missing_value=[]
    for col in data.columns:
        variable_name.append(col)
        total_missing_value.append(data[col].isnull().sum())
        missing_value_rate.append(round(data[col].isnull().sum()/data[col].shape[0],4)*100)
    missing_data=pd.DataFrame({"Feature":variable_name,"Missing_Value_Rate":missing_value_rate,"Total Missing Value":total_missing_value})
    return missing_data.sort_values("Missing_Value_Rate",ascending=False)[0:4]
Missing_Values(df)

              Feature  Missing_Value_Rate  Total Missing Value
2  daily_vaccinations                3.99                   60
0             country                0.00                    0
1                date                0.00                    0
3            vaccines                0.00                    0

# Filling in missing data

### Implement code to fill the missing data (impute) in daily_vaccinations column per country with the minimum daily vaccination number of relevant countries.  
### Note: If a country does not have any valid vaccination number yet, fill it with “0” (zero).

In [42]:
df['daily_vaccinations'].fillna(df.groupby(by='country')['daily_vaccinations'].transform('min'),inplace=True)

In [43]:
df.isnull().sum()

country               0
date                  0
daily_vaccinations    1
vaccines              0
dtype: int64

In [38]:
df.iloc[750]

country                        Kuwait
date                       12/28/2020
daily_vaccinations                  0
vaccines              Pfizer/BioNTech
Name: 750, dtype: object

In [39]:
df.fillna(0, inplace=True)

In [34]:
df.isnull().sum()

country               0
date                  0
daily_vaccinations    0
vaccines              0
dtype: int64

In [41]:
df.to_csv('filled_data.csv')