In [87]:
import pandas as pd
import numpy as np

In [88]:
df = pd.read_csv("filled_data.csv")

In [89]:
df.head()

   Unnamed: 0    country        date  daily_vaccinations   vaccines
0           0  Argentina  12/29/2020              6483.0  Sputnik V
1           1  Argentina  12/30/2020             15656.0  Sputnik V
2           2  Argentina  12/31/2020             15656.0  Sputnik V
3           3  Argentina    1/1/2021             11070.0  Sputnik V
4           4  Argentina    1/2/2021              8776.0  Sputnik V

In [90]:
df.drop(["Unnamed: 0"], axis=1, inplace=True)

In [91]:
df

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,6483.0,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             1502 non-null   object
 1   date                1502 non-null   object
 2   daily_vaccinations  1502 non-null   float64
 3   vaccines            1502 non-null   object
dtypes: float64(1), object(3)
memory usage: 47.1+ KB

In [93]:
df.groupby("country").agg(["min", "max", "std","mean","median"])

                     daily_vaccinations                            \
                                    min        max            std
country
Argentina                        6483.0    15656.0    2616.399285
Austria                          3368.0    12552.0    3273.981069
Bahrain                           943.0    11106.0    2557.463294
Belgium                             1.0    13135.0    5254.099266
Brazil                            112.0    99928.0   39530.203954
Bulgaria                          472.0     2889.0     465.154402
Canada                            866.0    39910.0   14601.764692
Chile                              51.0     6328.0    2170.022851
China                          187500.0   714286.0  155617.069553
Costa Rica                        240.0     2158.0     775.863296
Croatia                           989.0     3346.0     820.304118
Cyprus                            534.0     1022.0     185.546985
Czechia                          1822.0    11220.0    3740.060019
Denmark                          1994.0    11022.0    2127.041916
Ecuador                           108.0      108.0       0.000000
England                         37625.0   317419.0   95852.535340
Estonia                           309.0     1244.0     343.631250
Finland                           459.0     8012.0    2688.209355
France                           5000.0    87584.0   27807.488307
Germany                         19721.0    87377.0   20009.504283
Gibraltar                         520.0     1040.0     203.574018
Greece                            549.0    13165.0    3545.346871
Hungary                          1339.0     9418.0    2921.531827
Iceland                            63.0     1306.0     333.027757
India                          112150.0   224251.0   35995.948754
Indonesia                       11823.0    13200.0     577.941953
Ireland                           550.0     9452.0    3213.584864
Isle of Man                        90.0      163.0      35.138298
Israel                           6887.0   177883.0   47191.225867
Italy                             926.0    81858.0   28948.904845
Kuwait                              0.0        0.0            NaN
Latvia                            338.0     1309.0     324.782496
Lithuania                         311.0     4960.0    1265.485798
Luxembourg                         62.0      565.0     188.503940
Malta                             259.0     1190.0     388.275995
Mexico                           1300.0    57924.0   19816.032181
Netherlands                      4000.0    11429.0    2119.610711
Northern Ireland                 1563.0     9044.0    2595.307681
Norway                            224.0     4356.0    1583.258654
Oman                              817.0     1663.0     231.660386
Panama                              6.0     1694.0     750.867942
Poland                           4300.0    38059.0   10457.506892
Portugal                         2791.0    19200.0    4419.933471
Romania                           712.0    35627.0   10249.517428
Russia                           3357.0    68000.0   24330.180184
Saudi Arabia                    14153.0    37862.0    6551.005717
Scotland                         3047.0    22034.0    5614.015570
Serbia                           1150.0    31534.0    9387.140812
Seychelles                        500.0     1841.0     512.371164
Singapore                        2800.0     5380.0     932.190334
Slovakia                          425.0     5968.0    1677.543988
Slovenia                         1270.0     3073.0     532.927454
Spain                           41496.0    70264.0   10064.771208
Sweden                           3859.0     9616.0    2059.866383
Switzerland                      3000.0    14826.0    2669.841523
Turkey                          67192.0   308326.0   80647.520592
United Arab Emirates            30698.0   114896.0   30358.494499
United Kingdom                  46423.0   362307.0  108471.166239
United States                   57909.0  1126251.0  324200.461920
Wales                            1763.0    17371.0    4430.194497


                               mean    median
country
Argentina              11269.428571   11645.0
Austria                 8171.600000    7850.0
Bahrain                 3981.000000    3662.0
Belgium                 5365.307692    3606.0
Brazil                 34314.700000   17220.0
Bulgaria                1026.107143    1010.0
Canada                 17814.232558   11044.0
Chile                   2125.121212    1291.0
China                 327220.081081  276786.0
Costa Rica               969.576923     675.5
Croatia                 2213.000000    2485.0
Cyprus                   740.058824     708.0
Czechia                 6273.866667    5378.0
Denmark                 6938.000000    7095.5
Ecuador                  108.000000     108.0
England               131436.194444  107310.5
Estonia                  853.689655    1043.0
Finland                 3304.576923    2035.5
France                 42000.863636   41496.0
Germany                55735.103448   51184.0
Gibraltar                753.333333     713.0
Greece                  4833.689655    5290.0
Hungary                 5304.071429    5464.5
Iceland                  201.111111      63.0
India                 171920.545455  173922.0
Indonesia              12863.142857   13200.0
Ireland                 5047.520000    6528.0
Isle of Man              127.200000     138.0
Israel                 91015.736842   92587.0
Italy                  44453.300000   44475.5
Kuwait                     0.000000       0.0
Latvia                   711.206897     592.0
Lithuania               2232.218750    1933.5
Luxembourg               212.153846      88.0
Malta                    623.214286     407.5
Mexico                 17674.666667    5488.0
Netherlands             7027.764706    6762.0
Northern Ireland        4038.395349    2135.0
Norway                  2476.413793    2958.0
Oman                    1191.642857    1192.0
Panama                   958.666667    1324.0
Poland                 23557.571429   22702.5
Portugal                7466.379310    5944.0
Romania                13254.172414   13030.0
Russia                 31012.766667   23563.0
Saudi Arabia           18821.500000   16807.5
Scotland                8414.604651    5821.0
Serbia                  7263.500000    2920.0
Seychelles              1016.733333    1000.0
Singapore               4607.500000    4907.0
Slovakia                4603.777778    5357.0
Slovenia                2327.363636    2374.0
Spain                  56053.954545   55238.0
Sweden                  5874.909091    5382.5
Switzerland             4074.633333    3000.0
Turkey                150685.153846  150356.0
United Arab Emirates   78407.666667   86430.0
United Kingdom        150423.944444  120409.0
United States         514833.702703  378253.0
Wales                   5051.906977    2198.0

# Implement code to list the top-3 countries with highest median daily vaccination numbers

In [94]:
median= df['median'] = df.groupby(by='country')['daily_vaccinations'].transform('median')

In [95]:
median2=df.loc[df['median'].sort_values(ascending=False).index]
median2

,country,date,daily_vaccinations,vaccines,median
1425,United States,12/23/2020,150606.0,"Moderna, Pfizer/BioNTech",378253.0
1452,United States,1/19/2021,911493.0,"Moderna, Pfizer/BioNTech",378253.0
1446,United States,1/13/2021,710238.0,"Moderna, Pfizer/BioNTech",378253.0
1447,United States,1/14/2021,747082.0,"Moderna, Pfizer/BioNTech",378253.0
1448,United States,1/15/2021,798707.0,"Moderna, Pfizer/BioNTech",378253.0
...,...,...,...,...,...
622,Iceland,1/21/2021,312.0,"Moderna, Pfizer/BioNTech",63.0
623,Iceland,1/22/2021,560.0,"Moderna, Pfizer/BioNTech",63.0
624,Iceland,1/23/2021,809.0,"Moderna, Pfizer/BioNTech",63.0
626,Iceland,1/25/2021,1306.0,"Moderna, Pfizer/BioNTech",63.0
750,Kuwait,12/28/2020,0.0,Pfizer/BioNTech,0.0

In [96]:
sorting = median2.groupby('country')['median'].median().sort_values(ascending=False)

In [97]:
sorting.head(3)

country
United States    378253.0
China            276786.0
India            173922.0
Name: median, dtype: float64

### 1-United States    378253.0
### 2-China            276786.0
### 3-India            173922.0